<html>
<body>
<div class="login-page">
  <div class="login-card">
    <h2 class="title">ADB</h2>

    <div class="form-group">
      <label>User ID</label>
      <input type="text" placeholder="Enter User Name" />
    </div>

    <div class="form-group">
      <label>Key (Password)</label>
      <input type="password"  placeholder="Enter Password" />
    </div>

    <div class="button-row">
      <!-- <button class="btn passcode" (click)="onPasscode()">Passcode</button> -->
    </div>

    <div class="form-group">
      <label>Enter OTP Code</label>
      <input type="text" placeholder="Enter OTP" />
    </div>

    <div class="button-row">
      <button class="btn validate" (click)="onValidate()">Validate</button>

      <button class="btn login" (click)="onLogin()">Login</button>
      <!-- <button class="btn cancel" (click)="onCancel()">Cancel</button>
      <button class="btn close" (click)="onClose()">Close</button> -->
    </div>
  </div>
</div>

</body>
</html>